
:host {
  display: inline-flex;
  margin: 4px;
  padding: 2px 10px 4px 10px;
  background: #333;
  border-radius: 3px;
  cursor: pointer;
  transition: .2s;
}

@media (hover: hover) {
  :host:hover {
    background: #004d4d;
    box-shadow: none;
  }
}

:host.no-margin {
  margin: 0;
}

:host.controls-button-right {
  float: right;
}

:host.button-content-right {
  justify-content: right;
}

:host.image-change-button {
  min-width: 55px;
  padding-left: 8px;
  padding-right: 8px;
}

:host.controls-button-selected,
:host.controls-button-selected:hover {
  background-color: #333;
  background-size: 9px 9px;
  background-image: repeating-linear-gradient(45deg, #004d4d 0, #004d4d 0.9px, #333 0, #333 50%);
  box-shadow: 0 0 2px 2px #333 inset;
  cursor: default;
}

.controls-button-text {
  color: #bbb;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.015em;
  text-shadow: 1px 1px #333;
  transition: .2s;
}

:host.controls-button-selected .controls-button-text {
  color: #00cccc;
  transition: .2s;
}

@media (hover: hover) {
  :host:hover .controls-button-text {
    color: #eee;
  }
  :host.controls-button-selected:hover .controls-button-text {
    color: #00cccc;
  }
}

.controls-button-text-before,
.controls-button-text-after,
.controls-button-label {
  margin-top: 2px;
  color: #999;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.015em;
  text-shadow: 1px 1px #333;
}

.controls-button-text-after {
  margin-left: .5em;
}

.controls-button-text-before {
  margin-right: .5em;
}

.controls-button-label {
  margin-left: .6em;
}

.controls-button-text-theme-colored {
  color: #00b3b3;
}

.controls-button-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  opacity: .7;
}

.controls-button-icon-notext {
  margin-right: 0;
}

.control-switch {
  display: flex;
  align-items: center;
  width: 28px;
  margin: 2px 10px 0 0;
  border: 2px solid #999;
  border-radius: 8px;
  background: #333;
  text-align: left;
  transition: .3s;
}

.control-switch-ball {
  position: relative;
  left: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #333;
  border-radius: 50%;
  background: #999;
  transition: .3s;
}

.control-switch-off {
  background: #333;
}

.control-switch-on {
  border-color: #009999;
  background: #004d4d;
}

.control-switch-on .control-switch-ball {
  left: 14px;
  border-color: #004d4d;
  background: #009999;
}

@media (max-width: 1199px) {
  .controls-button-text {
    font-size: 16px;
    line-height: 18px;
  }
  .controls-button-text-before,
  .controls-button-text-after,
  .controls-button-label {
    font-size: 14px;
    line-height: 16px;
  }
  .controls-button-icon {
    width: 18px;
    height: 18px;
  }
  .control-switch {
    width: 22px;
  }
  .control-switch-ball {
    width: 8px;
    height: 8px;
  }
  .control-switch-on .control-switch-ball {
    left: 10px;
  }
}

@media (max-width: 991px) {
  .controls-button {
    margin: 3px;
    padding: 1px 8px 2px 8px;
  }
  .controls-button-text {
    font-size: 14px;
  }
  .controls-button-text-before,
  .controls-button-text-after,
  .controls-button-label {
    font-size: 12px;
  }
  .control-switch {
    margin-top: 2px;
    border-width: 1px;
  }
}
