
/* Container */

:host {
  display: flex;
  flex-wrap: wrap;
  animation: fadeIn .5s;
}

@media (max-width: 991px) {
  :host {
    padding: 0 5px;
  }
}


/* Options Panel (Mobile and Tablets) */

.gallery-simple-options-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2px 0;
  background: #282828;
}


/* Blocks */

.gallery-simple-block {
  display: inline-flex;
  flex-direction: column;
  margin: 5px 10px 5px 0;
}

@media (max-width: 991px) {
  .gallery-simple-block {
    width: 100%;
    margin: 8px 0 0 0;
  }
}

:host.gallery-simple-desktop .gallery-simple-block-1 {
  width: 100%;
  margin-right: 0;
  animation: fadeIn .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-2 {
  width: calc((100% - 10px) / 2);
  animation: fadeIn2 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-3 {
  width: calc((100% - 20px) / 3);
  animation: fadeIn3 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-4 {
  width: calc((100% - 30px) / 4);
  animation: fadeIn4 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-2:nth-of-type(2n),
:host.gallery-simple-desktop .gallery-simple-block-3:nth-of-type(3n),
:host.gallery-simple-desktop .gallery-simple-block-4:nth-of-type(4n) {
  margin-right: 0;
}


/* Images and Data*/

.gallery-simple-image {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #282828;
  background-image: 
    linear-gradient(#004d4d 1.1px, transparent 1.1px), 
    linear-gradient(to right, #004d4d 1.1px, #282828 1.1px);
  background-size: 3.125% 5.5%;
  background-position: -1.5625% -2.75%;
  transition: .2s;
}

@media (hover: hover) {
  .gallery-simple-block:hover .gallery-simple-image {
    filter: brightness(1.1);
  }
}

.gallery-simple-image-data {
  position: relative;
  min-height: 66px;
  background-color: #282828;
  background-image: 
    linear-gradient(#333 1.1px, transparent 1.1px), 
    linear-gradient(to right, #333 1.1px, #282828 1.1px);
  background-size: 3.125% 22px;
  background-position: -1.5625% -11px;
  animation: fadeIn .5s;
}

.gallery-simple-image-data-section {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  padding: 12px 15px 10px 15px;
  color: #bbb;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px #111;
  user-select: text;
  cursor: default;
  animation: fadeIn .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-3 .gallery-simple-image-data-section,
:host.gallery-simple-desktop .gallery-simple-block-4 .gallery-simple-image-data-section {
  font-size: 16px;
}

.gallery-simple-image-data-icon {
  height: 18px;
  margin-right: 15px;
  padding: 2px;
  outline: 2px solid #004d4d;
  border-radius: 3px;
  background: rgba(0, 77, 77, .4);
  text-align: center;
  line-height: 18px;
  user-select: none;
}

.gallery-simple-image-data-icon img {
  width: 18px;
  height: 18px;
}

.gallery-simple-image-data-section-element {
  display: inline-block;
  margin-right: 8px;
  padding: 0 5px;
  border-radius: 2px;
  background: rgba(51, 51, 51, .7);
  line-height: 19px;
}

.gallery-simple-image-data-section-element-decoration {
  user-select: none;
}

.gallery-simple-image-data-angle-1,
.gallery-simple-image-data-angle-4 {
  position: absolute;
  width: 20%;
  height: 50%;
}

.gallery-simple-image-data-angle-1 {
  top: 0;
  left: 0;
  border-top: 2px solid #004d4d;
  border-left: 2px solid #004d4d;
}

.gallery-simple-image-data-angle-4 {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #004d4d;
  border-right: 2px solid #004d4d;
}

@media (max-width: 1599px) { 
  :host.gallery-simple-desktop .gallery-simple-block-2 .gallery-simple-image-data-section {
    font-size: 16px;
  }
}

@media (max-width: 1199px) { 
  .gallery-simple-image-data-section {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .gallery-simple-image {
    background-size: 6.25% 11%;
    background-position: -3.125% -5.5%;
  }
  .gallery-simple-image-data {
    min-height: 60px;
    background-size: 3.125% 20px;
    background-position: -1.5625% -10px;
  }
  .gallery-simple-image-data-section {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
  }
  .gallery-simple-image-data-icon {
    height: 16px;
    transform: translateY(-1px);
  }
  .gallery-simple-image-data-icon img {
    width: 16px;
    height: 16px;
  }
  .gallery-simple-image-data-section-element {
    line-height: 18px;
  }
}

@media (max-width: 599px) {
  .gallery-simple-image-data {
    min-height: 48px;
    background-size: 6.25% 18px;
    background-position: -3.125% -9px;
  }
  .gallery-simple-image-data-section {
    padding: 11px 15px 7px 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .gallery-simple-image-data-icon {
    height: 14px;
    margin-right: 12px;
  }
  .gallery-simple-image-data-icon img {
    width: 14px;
    height: 14px;
  }
  .gallery-simple-image-data-section-element {
    line-height: 16px;
  }
}
