
<!-- Decorative Elements -->
<div class="image-data-block-corner-1"></div>
<div class="image-data-block-corner-2"></div>

<!-- Simple (Grid) Mode Gallery -->
<ng-container *ngIf="blockType != 'selected'">

  <!-- Caption -->
  <div 
    *ngIf="data.caption && settings.showImageCaptions"
    class="image-data-section">{{data.caption}}</div> 

  <!-- Data (Location, Time) -->
  <ng-container *ngIf="settings.showImageData">

    <div 
      *ngIf="data.location"
      class="image-data-section">
      <div class="image-data-icon">
        <img 
          src="./assets/interface/location-icon.png"
          alt="" />
      </div>
      <div>
        <span 
          *ngIf="data.location.name"
          class="image-data-section-element">{{data.location.name}}</span>
        <span 
          *ngIf="data.location.name2"
          class="image-data-section-element">{{data.location.name2}}</span>
        <span 
          *ngIf="data.location.lat && data.location.lon"
          class="image-data-section-element image-data-location-coords">{{coordText}}</span>
      </div>
    </div>

    <div 
      *ngIf="data.month && data.year && showTimeData"
      class="image-data-section">
      <div class="image-data-icon">
        <img 
          src="./assets/interface/calendar-icon.png"
          alt="" />
      </div>
      <div>
        <span class="image-data-section-element">{{timeText}}</span>
      </div>
    </div>

  </ng-container>

  <!-- Tags -->
  <div 
    *ngIf="data.tags && settings.showImageTags"
    class="image-data-section">
    <div class="image-data-icon">
      <img 
        src="./assets/interface/tag-icon.png"
        alt="" />
    </div>
    <div>
      <span 
        *ngFor="let tag of data.tags"
        class="image-data-section-element">
        <span class="image-data-section-element-marker">&bull; </span>
        <span class="image-data-tag">{{tag}}</span>
      </span>
    </div>
  </div>

</ng-container>

<!-- Selected Image Data (Default Gallery Mode or Overlay) -->
<ng-container *ngIf="blockType == 'selected'">

  <!-- Caption -->
  <div class="image-data-column">
    <div 
      *ngIf="data.caption"
      class="image-data-section">
      <div class="image-data-icon">
        <img 
          src="./assets/interface/image-caption-icon.png" 
          alt="" />
      </div>
      <div>{{data.caption}}</div>
    </div>
  </div>

  <!-- Location, Time, Tags -->
  <div class="image-data-column">

    <!-- Tab Buttons -->
    <div class="image-data-controls">
      <ng-container *ngFor="let tab of dataTabs">
        <app-controls-button
          *ngIf="tab.enabled"
          [selected]="settings.imageDataTabActive == tab.name"
          [text]="tab.name"
          (click)="switchImageDataTab(tab.name)" >
        </app-controls-button>
      </ng-container>
    </div>

    <!-- Data Blocks -->
    <ng-container *ngFor="let tab of dataTabs; index as i">
      <div 
        *ngIf="tab.enabled && settings.imageDataTabActive == tab.name"
        class="image-data-section data-section-tab">
        <div class="image-data-icon">
          <img 
            src="./assets/interface/{{tab.icon}}" 
            alt="" />
        </div>

        <!-- Location -->
        <div *ngIf="i == 0">
          <span 
            *ngIf="data.location?.name"
            class="image-data-section-element">{{data.location?.name}}</span>
          <span 
            *ngIf="data.location?.name2"
            class="image-data-section-element">{{data.location?.name2}}</span>
          <span 
            *ngIf="data.location?.lat && data.location?.lon"
            class="image-data-section-element image-data-location-coords">{{coordText}}</span>
        </div>

        <!-- Time -->
        <div *ngIf="i == 1">
          <span class="image-data-section-element">{{timeText}}</span>
        </div>

        <!-- Tags -->
        <div *ngIf="i == 2">
          <span 
            *ngFor="let tag of data.tags"
            class="image-data-section-element">
            <span class="image-data-section-element-marker">&bull; </span>
            <span class="image-data-tag">{{tag}}</span>
          </span>
        </div>

      </div>
    </ng-container>

  </div>

</ng-container>
