
/* Container */

:host {
  display: flex;
  flex-wrap: wrap;
  animation: fadeIn .5s;
}

@media (max-width: 991px) {
  :host {
    padding: 0 5px;
  }
}


/* Options Panel (Mobile and Tablets) */

.gallery-simple-options-panel {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2px 0;
  background: #282828;
}


/* Blocks */

.gallery-simple-block {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  margin: 5px 10px 5px 0;
}

@media (max-width: 991px) {
  .gallery-simple-block {
    width: 100%;
    margin: 8px 0 0 0;
  }
}

:host.gallery-simple-desktop .gallery-simple-block-1 {
  width: 100%;
  margin-right: 0;
  animation: fadeIn .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-2 {
  width: calc((100% - 10px) / 2);
  animation: fadeIn2 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-3 {
  width: calc((100% - 20px) / 3);
  animation: fadeIn3 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-4 {
  width: calc((100% - 30px) / 4);
  animation: fadeIn4 .5s;
}

:host.gallery-simple-desktop .gallery-simple-block-2:nth-of-type(2n),
:host.gallery-simple-desktop .gallery-simple-block-3:nth-of-type(3n),
:host.gallery-simple-desktop .gallery-simple-block-4:nth-of-type(4n) {
  margin-right: 0;
}


/* Images */

.gallery-simple-image {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #282828;
  background-image: 
    linear-gradient(#004d4d 1.1px, transparent 1.1px), 
    linear-gradient(to right, #004d4d 1.1px, #282828 1.1px);
  background-size: 3.125% 5.5%;
  background-position: -1.5625% -2.75%;
  transition: .2s;
  cursor: zoom-in;
}

@media (hover: hover) {
  .gallery-simple-block:hover .gallery-simple-image {
    filter: brightness(1.1);
  }
}

@media (max-width: 991px) {
  .gallery-simple-image {
    background-size: 6.25% 11%;
    background-position: -3.125% -5.5%;
  }
}
