<!-- Options Panel -->
<div 
  *ngIf="!desktop"
  class="gallery-simple-options-panel">
  <app-controls-button
    [hasSwitch]="true"
    [switchOn]="userSettings.showImageCaptions"
    (click)="userSettings.toggleImageCaptions()"
    text="Captions">
  </app-controls-button>
  <app-controls-button
    [hasSwitch]="true"
    [switchOn]="userSettings.showImageData"
    (click)="userSettings.toggleImageData()"
    text="Data">
  </app-controls-button>
  <app-controls-button
    [hasSwitch]="true"
    [switchOn]="userSettings.showImageTags"
    (click)="userSettings.toggleImageTags()"
    text="Tags">
  </app-controls-button>
</div>

<!-- Image Blocks -->
<div 
  *ngFor="let image of g.imageData; index as i"
  class="gallery-simple-block gallery-simple-block-{{userSettings.imagesInRow}}">

  <!-- Image -->
  <img 
    *ngIf="!desktop"
    class="gallery-simple-image"
    src="./assets/img/small/{{image.path}}"
    alt="Image {{i + 1}}" />
  <img 
    *ngIf="desktop"
    class="gallery-simple-image"
    src="./assets/img/{{userSettings.imagesInRow > 2 ? 'small/' : ''}}{{image.path}}"
    alt="Image {{i + 1}}"
    (click)="toggleOverlay(i + 1)" />

  <!-- Caption and Data -->
  <app-image-data-block
    *ngIf="userSettings.showImageCaptions || userSettings.showImageData || userSettings.showImageTags"
    blockType="{{desktop ? userSettings.imagesInRow : '1'}}"
    [data]="image"
    [galleryType]="g.type">
  </app-image-data-block>

</div>