
<!-- Mobile Gallery -->

<div class="gallery-simple">

  <img 
    class="gallery-simple-image" 
    *ngFor="let image of times(g.numberOfImages); index as i" 
    src="./assets/img/small/{{g.year}}/{{g.month}}/{{i+1}}.jpg" />

  <div 
    class="mobile-up-button" 
    [ngClass]="{'mobile-up-button-invisible': scrolled < 200}" 
    (window:scroll)="onWindowScroll($event)"
    (click)="scrollToTop()">&#9650;</div>

</div>


<!-- Desktop Gallery -->

<div class="gallery-area">
      
  <div class="image-container">

    <div class="image-options-panel">

      <div class="image-name">&#9656; {{g.name}} {{g.year ? g.year : ''}} &#9656; Image {{currentImage}}</div>

      <a class="controls-button controls-button-right" href="./assets/img/{{g.year}}/{{g.month}}/{{currentImage}}.jpg" download="{{currentImage}}.jpg">
        <img class="controls-button-icon" src="./assets/icon/download-icon.png">Download
      </a>

      <a class="controls-button controls-button-right" href="./assets/img/{{g.year}}/{{g.month}}/{{currentImage}}.jpg" target="_blank">
        <img class="controls-button-icon" src="./assets/icon/new-tab-icon.png">Full Size 
        <span class="controls-button-label">(3840&hairsp;x&hairsp;2160)</span>
      </a>

    </div>
    
    <img 
      class="image-selected"
      src="./assets/img/{{g.year}}/{{g.month}}/{{currentImage}}.jpg"
      (contextmenu)="onRightClick($event)" />

    <div 
      class="control-image-prev" 
      [ngClass]="{'image-overlay-displayed' : imageOverlayDisplayed}"
      (click)="prevImage()"
      (mouseenter)="onImageOverlayMouseenter(1)"
      (mouseleave)="onImageOverlayMouseleave(2)"
      (contextmenu)="onRightClick($event)">
      <div class="control-image-label-left">&#9664;<span class="control-image-number">{{prevImageNumber()}}</span></div>
    </div>

    <div
      class="control-image-center" 
      [ngClass]="{'image-overlay-displayed' : imageOverlayDisplayed}"
      (contextmenu)="onRightClick($event)">
      <div class="control-image-label-center"><span class="control-image-number">{{currentImage}}</span></div>
    </div>

    <div 
      class="control-image-next" 
      [ngClass]="{'image-overlay-displayed' : imageOverlayDisplayed}"
      (click)="nextImage()"
      (mouseenter)="onImageOverlayMouseenter(2)"
      (mouseleave)="onImageOverlayMouseleave(2)"
      (contextmenu)="onRightClick($event)">
      <div class="control-image-label-right"><span class="control-image-number">{{nextImageNumber()}}</span>&#9654;</div>
    </div>

  </div>

  <div class="thumbnails-container">

    <div class="thumbnails-options-panel">
      <div class="controls-button" (click)="manageSelectOnMouseover()">
        <div 
          class="control-switch" 
          [ngClass]="{'control-switch-off': !userSettings.selectOnMouseover, 'control-switch-on': userSettings.selectOnMouseover}">
          <div class="control-switch-ball"></div>
        </div>
        Select on Mouseover
      </div>
    </div>

    <div 
      class="image-thumbnail-container" 
      [ngClass]="{'image-thumbnail-container-selected': i+1 == currentImage}" 
      *ngFor="let image of times(g.numberOfImages); index as i" 
      (click)="currentImage = i+1"
      (mouseenter)="mouseoverImageSelect(i+1)"
      (mouseleave)="cancelMouseoverSelect(i+1)"
      (contextmenu)="onRightClick($event)">
      <img class="image-thumbnail" src="./assets/img/small/{{g.year}}/{{g.month}}/{{i+1}}.jpg">
      <div class="image-thumbnail-overlay-1"></div>
      <div class="image-thumbnail-overlay-2"></div>
      <div class="image-thumbnail-overlay-3"></div>
      <div class="image-thumbnail-overlay-4"></div>
      <div class="image-thumbnail-overlay-number" [ngClass]="{'image-thumbnail-overlay-number-selected': i+1 == currentImage}">{{i+1}}</div>
    </div>

  </div>
</div>
