
:host {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
}

/* Heading Area */

.header-area {
  display: flex;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  height: 65px;
  padding: 5px 5px 5px 20%;
  color: #00b3b3;
  font-size: 40px;
  letter-spacing: .04em;
  word-spacing: .2em;
  text-shadow: 1px 1px #111;
  animation: fadeIn .5s;
}

.header-area:before {
  content: '';
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
  z-index: -1;
  background: linear-gradient(
    90deg, 
    rgba(0, 77, 77, .2) 0%, 
    rgba(0, 77, 77, 0.75) 20%, 
    rgba(0, 77, 77, 0.75) 80%, 
    rgba(0, 77, 77, .2) 100%
  );
  filter: blur(20px);
}

.header-area a {
  transition: .2s;
}

@media (hover: hover) {
  .header-area a:hover {
    color: #00cccc;
  }
}

@media (max-width: 991px) {
  .header-area {
    height: 40px;
    font-size: 26px;
  }
}

@media (max-width: 599px) {
  .header-area {
    justify-content: center;
    height: 35px;
    padding: 3px 5px 5px 5px;
    font-size: 22px;
  }
}


/* Content Area */

.content-area {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  min-height: calc(100vh - 75px);
  align-items: stretch;
}

@media (max-width: 991px) {
  .content-area {
    min-height: calc(100vh - 50px);
  }
}

@media (max-width: 599px) {
  .content-area {
    min-height: calc(100vh - 45px);
  }
}



/* Footer Area */

.footer-area {
  display: flex;
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
  align-items: center;
  height: 100px;
  margin-top: 5px;
  padding: 5px 5px 5px 20%;
  color: #666;
  font-size: 18px;
  letter-spacing: .02em;
  text-shadow: 1px 1px #111;
  animation: fadeIn .5s;
}

.footer-area-mini {
  height: 30px;
}

.footer-area:before {
  content: '';
  position: absolute;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  top: -20px;
  left: -20px;
  z-index: -1;
  background: linear-gradient(
    90deg, 
    rgba(51, 51, 51, .2) 0%, 
    rgba(51, 51, 51, 0.6) 20%, 
    rgba(51, 51, 51, 0.6) 80%, 
    rgba(51, 51, 51, .2) 100%
  );
  filter: blur(20px);
}

@media (max-width: 991px) {
  .footer-area {
    font-size: 16px;
  }
  .footer-area-mini {
    height: 100px;
  }
}

@media (max-width: 599px) {
  .footer-area {
    justify-content: center;
    padding: 5px;
    font-size: 14px;
  }
}
