
<!-- Header -->
<div class="header-area">
  <a routerLink="/">Thailand Photo Gallery</a>
</div>

<!-- Content -->
<div class="content-area">

  <!-- Navigation Controls -->
  <app-navigation-area></app-navigation-area>

  <!-- Gallery Area -->
  <router-outlet></router-outlet>

</div>

<!-- Footer -->
<div 
  class="footer-area"
  [ngClass]="{
    'footer-area-mini' : 
      !mainPage &&
      ((chronological && !this.userSettings.simpleGalleryByTime) || 
      (!chronological && !this.userSettings.simpleGalleryByData))
  }">The world is fucking beautiful.</div>
