
/* Empty Gallery Placeholder */

.gallery-empty-placeholder {
  width: calc(100% - 40px);
  height: calc(100vh - 95px);
  margin: 20px;
  padding: 30px 0;
  background-color: #111;
  background-image: 
    linear-gradient(#004d4d 1.1px, transparent 1.1px),
    linear-gradient(to right, #004d4d 1.1px, #111 1.1px);
  background-size: 4% 4%;
  box-shadow: 0 0 3px 3px #004d4d inset;
}

.gallery-empty-placeholder-text { 
  color: #00b3b3;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.02em;
}

@media (max-width: 991px) {
  .gallery-empty-placeholder-text {
    font-size: 26px;
  }
}


/* Scroll-to-Top Button */

.scroll-up-button {
  display: inline-block;
  position: fixed;
  width: 46px;
  height: 46px;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  border-radius: 23px;
  background: #333;
  color: #888;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.scroll-up-button-invisible {
  opacity: 0;
  pointer-events: none;
}


/* Main Areas */

.gallery-area {
  display: flex;
  position: relative;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex-basis: calc(71.429% - 10px);
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 5px;
  animation: fadeIn .5s;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  flex-basis: calc(28.571% - 10px);
  position: relative;
  top: 0;
  padding: 0 5px;
  animation: fadeIn .5s;
}

.gallery-container-full-width {
  flex-basis: calc(100% - 10px);
}


/* Gallery Name Panel */

.gallery-options-panel {
  display: inline-block;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0px;
  width: calc(100% - 10px);
  margin-top: -5px;
  padding: 2px 5px;
  border-top: 5px solid #111;
  border-bottom: 5px solid #111;
  background: #282828;
  text-align: center;
}

.gallery-name {
  display: inline-block;
  max-width: calc(100% - 80px);
  vertical-align: top;
  padding: 0 5px;
  color: #00b3b3;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.025em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 1199px) {
  .gallery-name {
    max-width: calc(100% - 76px);
    font-size: 18px;
    line-height: 30px;
  }
}


/* Gallery Settings Panel */

.gallery-settings-panel {
  position: sticky;
  top: 48px;
  z-index: 1000;
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #282828;
  transition: opacity .2s;
  opacity: 0;
}

.gallery-settings-panel-visible {
  height: auto;
  border-bottom: 5px solid #111;
  opacity: 1;
}

.gallery-settings-panel-header {
  display: inline-block;
  width: calc(100% - 30px);
  padding: 5px 15px;
  background: #333;
  color: #bbb;
  font-size: 20px;
  text-shadow: 1px 1px #111;
  letter-spacing: 0.025em;
}

.panel-close-button {
  float: right;
  color: 999;
  cursor: pointer;
}

.gallery-settings-panel-block {
  display: inline-block;
  width: calc(100% - 30px);
  margin: 0 10px;
  margin-bottom: 0;
  padding: 10px 5px;
  border-bottom: 1px solid #444;
  letter-spacing: 0.025em;
}

.gallery-container-full-width .gallery-settings-panel-block {
  width: calc(100% / 3 - 30px);
  vertical-align: top;
  border-bottom: none;
}

.gallery-settings-panel-block:last-of-type {
  border-bottom: none;
}

.gallery-settings-panel-block-right {
  float: right;
}

.gallery-settings-panel-block-control {
  text-align: center;
}

.gallery-settings-panel-block-control-text {
  display: inline-block;
  margin: 2px 0 0 0;
  padding: 0 5px;
  color: #bbb;
  font-size: 18px;
  line-height: 28px;
}

.gallery-settings-panel-block-text {
  padding-top: 10px;
  color: #999;
  font-size: 16px;
}

@media (max-width: 1199px) {
  .gallery-settings-panel {
    top: 44px;
  }
  .gallery-settings-panel-header {
    font-size: 18px;
  }
  .gallery-settings-panel-block {
    padding-top: 5px;
  }
  .gallery-settings-panel-block-text {
    padding-top: 5px;
    font-size: 14px;
  }
  .gallery-settings-panel-block-control-text {
    margin: 5px 0 0 0;
    font-size: 16px;
    line-height: 21px;
  }
}


/* Interactive Preview Thumbnails */

.image-thumbnail-container {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(50% - 16px);
  margin-bottom: 6px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
}

.image-thumbnail {
  display: inline-block;
  width: calc(100% - 16px);
  aspect-ratio:  16/9;
  background-color: #111;
  background-image: 
    linear-gradient(#004d4d 1.1px, transparent 1.1px), 
    linear-gradient(to right, #004d4d 1.1px, #111 1.1px);
  background-size: 6.25% 11%;
  background-position: -3.125% -5.5%;
  transition: .2s;
}

.image-thumbnail-container:hover .image-thumbnail {
  filter: brightness(1.05);
}

.image-thumbnail-overlay-1,
.image-thumbnail-overlay-2,
.image-thumbnail-overlay-3,
.image-thumbnail-overlay-4 {
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  opacity: 0;
  transition: .2s;
  transition-timing-function: ease-in-out;
}

.image-thumbnail-container:hover .image-thumbnail-overlay-1,
.image-thumbnail-container:hover .image-thumbnail-overlay-4 {
  opacity: 1;
  width: 35%;
  height: 35%;
}

.image-thumbnail-container:hover .image-thumbnail-overlay-2,
.image-thumbnail-container:hover .image-thumbnail-overlay-3 {
  opacity: 1;
  width: 25%;
  height: 25%;
}

.image-thumbnail-overlay-1 {
  top: 0;
  left: 5px;
  border-top: 3px solid #00b3b3;
  border-left: 3px solid #00b3b3;
}

.image-thumbnail-overlay-2 {
  top: 0;
  right: 5px;
  border-top: 4px dotted #00b3b3;
  border-right: 4px dotted #00b3b3;
}

.image-thumbnail-overlay-3 {
  bottom: 0;
  left: 5px;
  border-bottom: 4px dotted #00b3b3;
  border-left: 4px dotted #00b3b3;
}

.image-thumbnail-overlay-4 {
  bottom: 0;
  right: 5px;
  border-bottom: 3px solid #00b3b3;
  border-right: 3px solid #00b3b3;
}

.image-thumbnail-overlay-number {
  position: absolute;
  z-index: 90;
  bottom: 5px;
  right: 10px;
  width: 32px;
  height: 40px;
  padding-left: 8px;
  border-radius: 40px 0 0 0;
  background: rgba(34, 34, 34, .8);
  color: #bbb;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: 0.015em;
  text-shadow: 1px 1px #111;
  transition: .2s;
}

.image-thumbnail-overlay-number-selected {
  color: #eee;
  background: #004d4d;
}

.image-thumbnail-container:hover .image-thumbnail-overlay-number {
  color: #eee;
  background: rgba(0, 179, 179, .8);
}


/* Overlay */

.page-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
  background-color: #333;
  background-size: 19px 19px;
  background-image: repeating-linear-gradient(45deg, #004d4d 0, #004d4d 0.9px, #333 0, #333 50%);
  box-shadow: 0 0 5px 5px #333 inset;
  animation: fadeIn .2s;
}

.overlay-image-container {
  display: flex;
  flex-direction: column;
  width: calc(16 * (100vh - 178px) / 9);
  min-width: calc(992px - 20px);
  background: #111;
  border: 5px solid #111;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px #333;
}

.overlay-image-container-no-data {
  border-bottom: none;
  width: calc(16 * (100vh - 63px) / 9);
}
