
<!-- Empty Gallery Placeholder -->
<div 
  *ngIf="!g.numberOfImages"
  class="gallery-empty-placeholder">
  <div class="gallery-empty-placeholder-text">Nothing to Display</div>
</div>


<!-- Mobile and Tablets -->
<app-gallery-simple
  *ngIf="!desktop && g.numberOfImages"
  class="hidden-desktop"
  [desktop]="false"
  [g]="g">
</app-gallery-simple>


<!-- Desktop Gallery -->
<div 
  *ngIf="desktop && g.numberOfImages"
  class="gallery-area hidden-mobile hidden-tablet">
  
  <!-- Selected Image Block -->    
  <div 
    *ngIf="!gridModeOn()"
    class="image-container">

    <!-- Image Name and Options Panel -->
    <div class="image-options-panel">
      <div 
        class="controls-button controls-button-left image-change-button" 
        (click)="prevImage()">
        <span class="controls-button-text">&#9664;</span>
        <span class="controls-button-label">{{prevImageNumber()}}</span>
      </div>
      <div 
        class="controls-button controls-button-right image-change-button" 
        (click)="nextImage()">
        <span class="controls-button-label">{{nextImageNumber()}}</span>
        <span class="controls-button-text">&#9654;</span>
      </div>
      <div class="image-name">Image {{currentImage}}</div>
      <a 
        class="controls-button-right" 
        href="./assets/img/{{g.imageData![currentImage - 1].path}}" 
        download="{{u.strToKebabCase(g.nameExtended || '')}}-image-{{currentImage}}.jpg">
        <app-controls-button
          iconFile="download-icon.png"
          text="Download">
        </app-controls-button>
      </a>
      <a 
        class="controls-button-right" 
        href="./assets/img/{{g.imageData![currentImage - 1].path}}" target="_blank">
        <app-controls-button
          iconFile="new-tab-icon.png"
          text="Full Size"
          labelText="3840&hairsp;x&hairsp;2160"
          labelClasses="hidden-desktop-small">
        </app-controls-button>
      </a>
    </div>

    <!-- Selected Image -->
    <div class="image-background">
      <img 
        class="image-background-cogwheel" 
        src="./assets/interface/cogwheel.svg" />
      <img 
        class="image-selected"
        [ngClass]="{'image-loading' : currentImageLoading}"
        src="./assets/img/{{g.imageData![currentImage - 1].path}}"
        alt="{{g.nameExtended}} - Image {{currentImage}}"
        (load)="onImageLoad()"
        (contextmenu)="onRightClick($event)" />
    </div>

    <!-- Selected Image Data -->
    <div 
      *ngIf="g.imageData![currentImage - 1] && userSettings.showImageInfo"
      class="image-data-container">
      <div class="image-data-angle-1"></div>
      <div class="image-data-angle-4"></div>

      <!-- Selected Image Caption -->
      <div class="image-data-column">
        <div 
          *ngIf="g.imageData![currentImage - 1].caption"
          class="image-data-section">
          <div class="gallery-image-data-icon">
            <img src="./assets/interface/image-caption-icon.png" alt="icon" />
          </div>
          <div>{{g.imageData![currentImage - 1].caption}}</div>
        </div>
      </div>

      <!-- Selected Image: Location, Time, Tags -->
      <div class="image-data-column">
        <div class="image-data-controls">
          <app-controls-button
            [selected]="userSettings.imageDataTabActive == 'location'"
            (click)="switchImageDataTab('location')"
            text="Location">
          </app-controls-button>
          <app-controls-button
            *ngIf="g.type != 'month'"
            [selected]="userSettings.imageDataTabActive == 'time'"
            (click)="switchImageDataTab('time')"
            text="Time">
          </app-controls-button>
          <app-controls-button
            [selected]="userSettings.imageDataTabActive == 'tags'"
            (click)="switchImageDataTab('tags')"
            text="Tags">
          </app-controls-button>
        </div>
        <div 
          *ngIf="g.imageData![currentImage - 1].location && userSettings.imageDataTabActive == 'location'"
          class="image-data-section data-section-tab">
          <div class="gallery-image-data-icon">
            <img src="./assets/interface/location-icon.png" alt="icon" />
          </div>
          <div>
            <span 
              *ngIf="g.imageData![currentImage - 1].location?.name"
              class="gallery-image-data-section-element">{{currentLocationText[0]}}</span>
            <span 
              *ngIf="g.imageData![currentImage - 1].location?.name2"
              class="gallery-image-data-section-element">{{currentLocationText[1]}}</span>
            <span 
              *ngIf="g.imageData![currentImage - 1].location?.lat && g.imageData![currentImage - 1].location?.lon"
              class="gallery-image-data-section-element image-data-location-coords">{{currentLocationText[2]}}</span>
          </div>
        </div>
        <div 
          *ngIf="userSettings.imageDataTabActive == 'time'"
          class="image-data-section data-section-tab">
          <div class="gallery-image-data-icon">
            <img src="./assets/interface/calendar-icon.png" alt="icon" />
          </div>
          <div>
            <span class="gallery-image-data-section-element">
              {{u.monthName(g.imageData![currentImage - 1].month || '')}} {{g.imageData![currentImage - 1].year}}</span>
          </div>
        </div>
        <div 
          *ngIf="g.imageData![currentImage - 1].tags && userSettings.imageDataTabActive == 'tags'"
          class="image-data-section data-section-tab">
          <div class="gallery-image-data-icon">
            <img src="./assets/interface/tag-icon.png" alt="icon" />
          </div>
          <div>
            <span 
              *ngFor="let tag of g.imageData![currentImage - 1].tags"
              class="gallery-image-data-section-element">
              <span class="gallery-image-data-section-element-decoration">&bull; </span>
              <span>{{u.capFirstLetter(tag)}}</span>
            </span>
          </div>
        </div>

      </div> 
    </div>
  </div>

  <!-- Gallery Settings and Images -->
  <div 
    class="gallery-container" 
    [ngClass]="{'gallery-container-full-width': gridModeOn()}">

    <!-- Name Panel -->
    <div class="gallery-options-panel">
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-name">{{g.type == 'year' || g.type == 'month' ? g.nameExtended : g.name}}</div>
      <div 
        *ngIf="gridModeOn()"
        class="gallery-name">{{g.nameExtended}}</div>
      <div 
        class="controls-button controls-button-right"
        (click)="toggleSettingsPanel()">
        <img 
          class="controls-button-icon controls-button-icon-notext" 
          src="./assets/interface/settings-icon-1.png" 
          alt="icon" />
        <img 
          class="controls-button-icon controls-button-icon-notext" 
          src="./assets/interface/settings-icon-2.png" 
          alt="icon" />
      </div>
    </div>

    <!-- Settings Panel -->
     <div 
      class="gallery-settings-panel"
      [ngClass]="{'gallery-settings-panel-visible': userSettings.panelOpen}" >

      <!-- Settings Panel Header -->
      <div class="gallery-settings-panel-header">
        <span>Gallery Settings</span>
        <span 
          class="panel-close-button controls-button-right" 
          (click)="toggleSettingsPanel()">&#x2716;</span>
      </div>

      <!-- Settings Panel: Mode -->
      <div class="gallery-settings-panel-block gallery-settings-panel-block-right">
        <div class="gallery-settings-panel-block-control">
          <span class="gallery-settings-panel-block-control-text">Mode:</span>
          <app-controls-button
            [selected]="!gridModeOn()"
            (click)="toggleSimpleGallery(false)"
            text="Default">
          </app-controls-button>
          <app-controls-button
            [selected]="gridModeOn()"
            (click)="toggleSimpleGallery(true)"
            text="Grid">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Default mode displays the gallery preview on the right and allows to pick an image. Grid mode simply displays all images in the gallery as a grid.
        </div>
      </div>

      <!-- Settings Panel: Image Info (Default View) -->
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageInfo"
            (click)="toggleImageInfo()"
            text="Show Image Info">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Show or hide the information block under the selected image. Knowing exactly what you are looking at often makes it more interesting.
        </div>
      </div>

      <!-- Settings Panel: Image Info (Grid View) -->
      <div 
        *ngIf="gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageCaptions"
            (click)="toggleImageCaptions()"
            text="Text">
          </app-controls-button>
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageData"
            (click)="toggleImageData()"
            text="Data">
          </app-controls-button>
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageTags"
            (click)="toggleImageTags()"
            text="Tags">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Show or hide the information blocks under the images. Knowing exactly what you are looking at often makes it more interesting.
        </div>
      </div>

      <!-- Settings Panel: No-Click Mode (Default View) -->
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.selectOnMouseover"
            (click)="toggleSelectOnMouseover()"
            text="No-Click Mode">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Select images automatically without clicking, just by hovering your mouse cursor over the preview. Some people find it convenient, others don't like it.
        </div>
      </div>

      <!-- Settings Panel: Images per row (Grid View) -->
      <div 
        *ngIf="gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <span class="gallery-settings-panel-block-control-text">Images per Row:</span>
          <app-controls-button
            *ngFor="let n of [1, 2, 3, 4]"
            [ngClass]="{'hidden-desktop-small hidden-desktop-average': n == 4}"
            [selected]="userSettings.imagesInRow == n"
            (click)="setImagesInRow(n)"
            text="{{n}}">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Select how many images should be fit into a row. Less images per row means a larger size for each image on the screen.
        </div>
      </div>
      
    </div>
 
    <!-- Interactive Gallery Preview Thumbnails -->
    <div *ngIf="!gridModeOn()">
      <div 
        *ngFor="let image of g.imageData; index as i" 
        class="image-thumbnail-container"
        [ngClass]="{'image-thumbnail-container-selected': i + 1 == currentImage}" 
        (click)="setCurrentImage(i + 1)"
        (mouseenter)="mouseoverImageSelect(i + 1)"
        (mouseleave)="cancelMouseoverSelect(i + 1)"
        (contextmenu)="onRightClick($event)">
        <img 
          class="image-thumbnail" 
          src="./assets/img/small/{{image.path}}" 
          alt="Image {{i + 1}}" />
        <div class="image-thumbnail-overlay-1"></div>
        <div class="image-thumbnail-overlay-2"></div>
        <div class="image-thumbnail-overlay-3"></div>
        <div class="image-thumbnail-overlay-4"></div>
        <div 
          class="image-thumbnail-overlay-number" 
          [ngClass]="{'image-thumbnail-overlay-number-selected': i+1 == currentImage}">
          <span>{{i + 1}}</span>
        </div>
      </div>
    </div>

    <!-- Grid Mode Gallery -->

    <app-gallery-simple
      *ngIf="gridModeOn()"
      class="gallery-simple-desktop"
      [desktop]="true"
      [g]="g">
    </app-gallery-simple>

  </div> 

</div> 

<!-- Scroll-to-Top Button -->
<div 
  class="scroll-up-button" 
  [ngClass]="{'scroll-up-button-invisible': verticalOffset < 250}" 
  (click)="scrollToTop()">&#9650;</div>
  