
<!-- Empty Gallery Placeholder -->
<div 
  *ngIf="!g.numberOfImages"
  class="gallery-empty-placeholder">
  <div class="gallery-empty-placeholder-text">Nothing to Display</div>
</div>

<!-- Mobile and Tablets -->
<app-gallery-simple
  *ngIf="!desktop && g.numberOfImages"
  class="hidden-desktop"
  [desktop]="false"
  [g]="g">
</app-gallery-simple>

<!-- Desktop -->
<div 
  *ngIf="desktop && g.numberOfImages"
  class="gallery-area hidden-mobile hidden-tablet">
  
  <!-- Selected Image Block -->    
  <app-selected-image-block
    *ngIf="!gridModeOn()"
    class="image-container"
    [imageNumber]="currentImage"
    [prevImageNumber]="prevImageNumber()"
    [nextImageNumber]="nextImageNumber()"
    [galleryName]="g.nameExtended!"
    [galleryType]="g.type"
    [data]="g.imageData![currentImage - 1]"
    (changeImage)="handleImageChange($event)">
  </app-selected-image-block>

  <!-- Gallery Settings and Images -->
  <div 
    class="gallery-container" 
    [ngClass]="{'gallery-container-full-width': gridModeOn()}">

    <!-- Name Panel -->
    <div class="gallery-options-panel">
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-name">{{g.type == 'year' || g.type == 'month' ? g.nameExtended : g.name}}</div>
      <div 
        *ngIf="gridModeOn()"
        class="gallery-name">{{g.nameExtended}}</div>
      <app-controls-button
        iconFile="settings-icon-1.png"
        iconFile2="settings-icon-2.png"
        buttonClasses="controls-button-right"
        iconClasses="controls-button-icon-notext"
        (click)="toggleSettingsPanel()">
      </app-controls-button>
    </div>

    <!-- Settings Panel -->
     <div 
      class="gallery-settings-panel"
      [ngClass]="{'gallery-settings-panel-visible': userSettings.panelOpen}" >

      <!-- Settings Panel Header -->
      <div class="gallery-settings-panel-header">
        <span>Gallery Settings</span>
        <span 
          class="panel-close-button" 
          (click)="toggleSettingsPanel()">&#x2716;</span>
      </div>

      <!-- Settings Panel: Mode -->
      <div class="gallery-settings-panel-block gallery-settings-panel-block-right">
        <div class="gallery-settings-panel-block-control">
          <span class="gallery-settings-panel-block-control-text">Mode:</span>
          <app-controls-button
            [selected]="!gridModeOn()"
            (click)="toggleSimpleGallery(false)"
            text="Default">
          </app-controls-button>
          <app-controls-button
            [selected]="gridModeOn()"
            (click)="toggleSimpleGallery(true)"
            text="Grid">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Default mode displays the gallery preview on the right and allows to pick an image. Grid mode simply displays all images in the gallery as a grid.
        </div>
      </div>

      <!-- Settings Panel: Image Info (Default View) -->
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageInfo"
            (click)="toggleImageInfo()"
            text="Show Image Info">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Show or hide the information block under the selected image. Knowing exactly what you are looking at often makes it more interesting.
        </div>
      </div>

      <!-- Settings Panel: Image Info (Grid View) -->
      <div 
        *ngIf="gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageCaptions"
            (click)="toggleImageCaptions()"
            text="Text">
          </app-controls-button>
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageData"
            (click)="toggleImageData()"
            text="Data">
          </app-controls-button>
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.showImageTags"
            (click)="toggleImageTags()"
            text="Tags">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Show or hide the information blocks under the images. Knowing exactly what you are looking at often makes it more interesting.
        </div>
      </div>

      <!-- Settings Panel: No-Click Mode (Default View) -->
      <div 
        *ngIf="!gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <app-controls-button
            [hasSwitch]="true"
            [switchOn]="userSettings.selectOnMouseover"
            (click)="toggleSelectOnMouseover()"
            text="No-Click Mode">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Select images automatically without clicking, just by hovering your mouse cursor over the preview. Some people find it convenient, others don't like it.
        </div>
      </div>

      <!-- Settings Panel: Images per row (Grid View) -->
      <div 
        *ngIf="gridModeOn()"
        class="gallery-settings-panel-block">
        <div class="gallery-settings-panel-block-control">
          <span class="gallery-settings-panel-block-control-text">Images per Row:</span>
          <app-controls-button
            *ngFor="let n of [1, 2, 3, 4]"
            [ngClass]="{'hidden-desktop-small hidden-desktop-average': n == 4}"
            [selected]="userSettings.imagesInRow == n"
            (click)="setImagesInRow(n)"
            text="{{n}}">
          </app-controls-button>
        </div>
        <div class="gallery-settings-panel-block-text">
          Select how many images should be fit into a row. Less images per row means a larger size for each image on the screen.
        </div>
      </div>
      
    </div>
 
    <!-- Interactive Gallery Preview Thumbnails -->
    <div *ngIf="!gridModeOn()">
      <div 
        *ngFor="let image of g.imageData; index as i" 
        class="image-thumbnail-container"
        [ngClass]="{'image-thumbnail-container-selected': i + 1 == currentImage}" 
        (click)="setCurrentImage(i + 1)"
        (mouseenter)="mouseoverImageSelect(i + 1)"
        (mouseleave)="cancelMouseoverSelect(i + 1)"
        (contextmenu)="onRightClick($event)">
        <img 
          class="image-thumbnail" 
          src="./assets/img/small/{{image.path}}" 
          alt="Image {{i + 1}}" />
        <div class="image-thumbnail-overlay-1"></div>
        <div class="image-thumbnail-overlay-2"></div>
        <div class="image-thumbnail-overlay-3"></div>
        <div class="image-thumbnail-overlay-4"></div>
        <div 
          class="image-thumbnail-overlay-number" 
          [ngClass]="{'image-thumbnail-overlay-number-selected': i+1 == currentImage}">
          <span>{{i + 1}}</span>
        </div>
      </div>
    </div>

    <!-- Grid Mode Gallery -->
    <app-gallery-simple
      *ngIf="gridModeOn()"
      class="gallery-simple-desktop"
      [desktop]="true"
      [g]="g"
      (changeImage)="setCurrentImage($event)">
    </app-gallery-simple>

  </div> 

</div> 

<!-- Scroll-to-Top Button -->
<div 
  class="scroll-up-button" 
  [ngClass]="{'scroll-up-button-invisible': verticalOffset < 250}" 
  (click)="scrollToTop()">&#9650;</div>

<!-- Overlay -->
<div 
  *ngIf="desktop && userSettings.showOverlay"
  class="page-overlay hidden-mobile hidden-tablet"
  (click)="toggleOverlay()">
  <app-selected-image-block
    class="overlay-image-container"
    [imageNumber]="currentImage"
    [prevImageNumber]="prevImageNumber()"
    [nextImageNumber]="nextImageNumber()"
    [galleryName]="g.nameExtended!"
    [galleryType]="g.type"
    [data]="g.imageData![currentImage - 1]"
    (changeImage)="handleImageChange($event)"
    (click)="$event.stopPropagation()">
  </app-selected-image-block>
</div>