
<!-- Image Name and Options -->
<div class="image-options-panel">

  <app-controls-button
    text="&#9664;"
    [textAfter]="prevImageNumber.toString()"
    buttonClasses="image-change-button"
    textAfterClasses="controls-button-text-theme-colored"
    (click)="prevImage()">
  </app-controls-button>

  <div class="image-name">
    <span 
      *ngIf="userSettings.showOverlay"
      class="hidden-desktop-small">{{galleryName}} &#9656; </span>
    <span>Image {{imageNumber}}</span>
  </div>
  
  <div class="image-options-panel-buttons-right">
    <a 
      href="./assets/img/{{data.path}}"
      target="_blank">
      <app-controls-button
        icon="new-tab-icon.png"
        text="Full Size"
        labelText="3840&hairsp;x&hairsp;2160"
        labelClasses="hidden-desktop-small">
      </app-controls-button>
    </a>
    <a 
      href="./assets/img/{{data.path}}" 
      download="{{u.strToKebabCase(galleryName)}}-image-{{imageNumber}}.jpg">
      <app-controls-button
        icon="download-icon.png"
        text="Download">
      </app-controls-button>
    </a>
    <app-controls-button
      text="&#9654;"
      [textBefore]="nextImageNumber.toString()"
      buttonClasses="image-change-button button-content-right"
      textBeforeClasses="controls-button-text-theme-colored"
      (click)="nextImage()">
    </app-controls-button>
  </div>

</div>

<!-- Selected Image -->
<div class="image-background">
  <img 
    class="image-background-cogwheel" 
    src="./assets/interface/cogwheel.svg" />
  <img 
    class="image-selected"
    [ngClass]="{
      'image-loading' : currentImageLoading,
      'overlay-image-selected': userSettings.showOverlay
    }"
    src="./assets/img/{{data.path}}"
    alt="{{galleryName}} - Image {{imageNumber}}"
    (load)="onImageLoad()"
    (contextmenu)="onRightClick($event)"
    (click)="userSettings.toggleOverlay()" />
</div>

<!-- Selected Image Data -->
<app-image-data-block
  *ngIf="data && userSettings.showImageInfo"
  blockType="selected"
  [data]="data"
  [galleryType]="galleryType">
</app-image-data-block>
