
<!-- Image Name and Options -->
<div class="image-options-panel">

  <!-- Previous Image -->
  <app-controls-button
    text="&#9664;"
    [textAfter]="image.prevIndex"
    buttonStyles="image-change-button"
    textAfterStyles="controls-button-text-theme-colored"
    (click)="prevImage()">
  </app-controls-button>

  <!-- Name -->
  <div class="image-name">
    <span 
      *ngIf="settings.showOverlay"
      class="hidden-desktop-small">{{image.galleryName}} &#9656; </span>
    <span>Image {{image.index}}</span>
  </div>
  
  <div class="image-options-panel-buttons-right">

    <!-- Full Size & Download -->
    <a 
      href="./assets/img/{{image.data.path}}"
      target="_blank">
      <app-controls-button
        icon="new-tab-icon.png"
        text="Full Size"
        labelText="3840&hairsp;x&hairsp;2160"
        buttonStyles="no-margin"
        labelStyles="hidden-desktop-small">
      </app-controls-button>
    </a>
    <a 
      href="./assets/img/{{image.data.path}}" 
      download="{{dlName}}">
      <app-controls-button
        icon="download-icon.png"
        text="Download"
        buttonStyles="no-margin">
      </app-controls-button>
    </a>

    <!-- Next Image -->
    <app-controls-button
      text="&#9654;"
      [textBefore]="image.nextIndex"
      buttonStyles="image-change-button button-content-right"
      textBeforeStyles="controls-button-text-theme-colored"
      (click)="nextImage()">
    </app-controls-button>
  </div>

</div>

<!-- Selected Image -->
<div class="image-background">
  <img 
    class="image-background-cogwheel" 
    src="./assets/interface/cogwheel.svg" 
    alt="" />
  <img 
    class="image-selected"
    [ngClass]="{
      'image-loading': imageLoading,
      'overlay-image-selected': settings.showOverlay
    }"
    src="./assets/img/{{image.data.path}}"
    alt="{{altName}}"
    (load)="onImageLoad()"
    (click)="settings.toggleOverlay()" 
    (contextmenu)="$event.preventDefault()" />
</div>

<!-- Selected Image Data -->
<app-image-data-block
  *ngIf="settings.showImageInfo"
  blockType="selected"
  [data]="image.data"
  [galleryType]="image.galleryType">
</app-image-data-block>
